.hero{
  width: 100%;
  padding: 100px 0 50px 0;
}
.inn_hero{
  width: 90%;
  display: block;
  margin: auto;
}

.item_flex{
  display: grid;
    grid-template-columns: repeat(auto-fill, minmax(250px, 1fr));
    gap: 15px;
}

.card_item{
  width: 100%;
  height: 300px;
  border-radius: 5px;
  box-shadow: 0px 2px 4px grey;
  padding:10px;
  position: relative;
  margin-bottom: 15px;
}
.checkitem{
  width: 25px;
  
}
.checkitem:hover{
color: #0082E6;
}
.icon_box{
  position: absolute;
  top:-12px;
  right: -12px;
  width: 30px;
  height: 30px;
  border-radius: 50%;
  background-color: #0082E6;
  display: flex;
  justify-content: center;
  align-items: center;
  cursor: pointer;
  color: white;
  font-size: 20px;
}

.card_item h4{
  display: -webkit-box;
  overflow: hidden;
  -webkit-line-clamp: 1;
  -webkit-box-orient: vertical;
}

.card_item p{
  display: -webkit-box;
    overflow: hidden;
    -webkit-line-clamp: 3;
    -webkit-box-orient: vertical;
}

.btn-edit{
  background-color: #0082E6;
  border-radius: 0;
  color: white;
}
.btn-edit:hover{
  color: white;
}
.btn-outline-view{
  border-radius: 0;
  color: #0082E6;
  background-color: transparent;
  border: 1px solid #0082E6;
}
.btn-outline-view:hover{
  background-color: #0082E6;
  color: white;
}

.home_p{
  margin: 0;
  font-size: 22px;
}
