@import url('https://fonts.googleapis.com/css2?family=Roboto+Slab:wght@300;400;500;600;700&display=swap');

* {
  padding: 0;
  margin: 0;
  box-sizing: border-box;
  font-family: 'Roboto Slab', sans-serif;
}

.text-custom{
  color:#0082E6 !important;
  
}
.btn-primary {
  background-color: white !important;
  padding: 7px 20px;
  border-radius: 0;
  font-weight: 500;
  border: none !important;
  color: #0082E6 !important;
  box-shadow: none !important;
}

.btn-primary:hover {
  background-color: #fffcfc !important;
  box-shadow: none !important;
}
.dis{
  cursor: no-drop !important;
}


button{
  box-shadow: none !important;
}


.error {
  width: 100%;
  display: grid;
  place-items: center;
  background-color: ghostwhite;
  height: 100vh;
  position: absolute;
  top: 0;
  left: 0;
  z-index: 999;
}
.error h1 {
  font-size: 60px;
  font-weight: 700;
  text-shadow: 0px 0px 5px #0082E6;
}



.blank_page{
  width: 100%;
  height: 70vh;
  display: flex;
  justify-content: center;
  align-items: center;
  flex-direction: row;
}






::-webkit-scrollbar {
  width: 5px;
}
::-webkit-scrollbar-track {
  background-color: #f1f1f1;
}
::-webkit-scrollbar-thumb {
  background-color: rgb(199, 194, 194);
}

.card {
  border: none;
  border-radius: 0;
   box-shadow: 0px 5px 15px gainsboro; 
}
.cur {
  cursor: pointer;
}


.form-control {
  border:1px solid black !important;
  
}
.form-control:focus{
  
box-shadow: none;
  
}















.model_box{
  width: 100%;
  height: 100vh;
  position: fixed;
  top: 0;
  display: flex;
  justify-content: center;
  align-items: center;
  background-color: rgba(13, 15, 0, 0.5);
  z-index: 9999999;
}
.inner_model{
  width:500px;
  background-color: white;
  height: auto;
  padding: 15px;
  position: relative;
}

.cross{
  width: 25px;
  height: 25px;
  border-radius: 50%;
  background-color: #0082E6;
  color: #fff;
  display: flex;
  justify-content: center;
  align-items: center;
  cursor: pointer;
  position: absolute;
  right: -10px;
  top:-10px;
}

@media (max-width:500px) {
  .inner_model{
      width: 90%;
  }
  
}

@media (max-width:600px) {
  .smbox{
    width: 90%;
  }
}


.disable-scroll{
  width: 100%;
  height: 100vh;
  overflow-y: hidden;
}